.errorMsg {
    color: red
}

.circleBase {
    border-radius: 50%;
}

.type1 {
    width: 100px;
    height: 100px;
    border: 3px solid red;
}
.type2 {
    width: 50px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000;
}
.type3 {
    width: 500px;
    height: 500px;
    background: aqua;
    border: 30px solid blue;
}